@font-face {
  font-family: 'opensans';
  src: local('opensans'), url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'opensanslight';
  src: local('opensanslight'), url('../fonts/opensanslight.woff') format('woff');
}
@font-face {
  font-family: 'opensansbold';
  src: local('opensansbold'), url('../fonts/opensansbold.woff') format('woff');
}
html {
  box-sizing: border-box;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-family: 'opensans', sans-serif;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  color: #283645;
}
h3 {
  font-family: 'opensansbold', sans-serif;
}
p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #283645;
}
a {
  font-family: 'opensansbold', sans-serif;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 700px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
.form {
  padding: 55px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.form-header {
  padding: 0 20px;
}
fieldset {
  width: 100%;
  padding: 40px 0;
  border: none;
}
.form__comments {
  padding: 75px 0 0;
}
.form__achievements,
.form__app {
  margin: 0 -20px;
  padding: 110px 20px 40px;
  background: #f2f2f2;
}
.form-row {
  margin-bottom: 25px;
}
.form-row:last-child {
  margin-bottom: 0;
}
.form-column {
  margin-bottom: 43px;
}
.form-column:last-child {
  margin-bottom: 0;
}
legend {
  position: relative;
  top: -60px;
  padding: 0 20px;
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  text-transform: uppercase;
  color: #d22856;
  background: #f2f2f2;
}
.form__tel-email legend {
  display: none;
}
.form__comments legend {
  top: -40px;
  background: #fff;
}
label {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  display: block;
  text-align: left;
  color: #d22856;
}
.form__contacts label,
.form__tel-email label {
  padding: 25px 0 15px 20px;
}
.form__contacts label:first-of-type,
.form__tel-email label:first-of-type {
  padding-top: 0;
}
.form__achievements label,
.form__app label {
  font-family: 'opensans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
input[type='email'],
input[type='tel'],
input[type='text'],
textarea {
  font-family: 'opensans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: left;
  color: #283645;
  border: 2px solid #e7e7e7;
}
input[type='email']:hover,
input[type='tel']:hover,
input[type='text']:hover,
textarea:hover {
  border: 2px solid #283645;
  outline: none;
}
input[type='email']:active,
input[type='tel']:active,
input[type='text']:active,
textarea:active {
  border: 2px solid #d22856;
  outline: none;
}
input[type='email'],
input[type='tel'] {
  position: relative;
  display: block;
}
/* TEXTAREA */
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 201px;
  padding: 20px;
  color: #283645;
}
textarea:hover {
  border: 2px solid #283645;
}
textarea:active {
  border: 2px solid #283645;
}
/* CHECKBOX */
input[type='checkbox'],
input[type='radio'] {
  display: none;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  display: block;
  margin-bottom: 45px;
  padding-left: 70px;
  cursor: pointer;
}
input[type='checkbox'] + label:last-child,
input[type='radio'] + label:last-child {
  margin-bottom: 0;
}
input[type='checkbox'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  background-color: #fff;
}
input[type='checkbox']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #283645;
  outline: none;
  background-color: #fff;
}
input[type='checkbox']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #d22856;
  outline: none;
  background-color: #fff;
}
input[type='checkbox']:active + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}
input[type='checkbox']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}
/* RADIO */
input[type='radio'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
}
input[type='radio']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #283645;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
}
input[type='radio']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #d22856;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
}
input[type='radio']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
input[type='radio']:checked:hover + label:hover::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
input[type='radio']:checked:active + label:active::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
.form span {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}
::-webkit-input-placeholder {
  color: #283645;
}
::-moz-placeholder {
  color: #283645;
}
:-moz-placeholder {
  color: #283645;
}
:-ms-input-placeholder {
  color: #283645;
}
@media (min-width: 700px) {
  .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .form-header {
    font-size: 18px;
    line-height: 30px;
    padding: 100px;
  }
  .form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
  }
  .form-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .form__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    padding: 0;
    margin-bottom: 60px;
    border: none;
    -ms-flex-order: 1;
        order: 1;
  }
  .form__app {
    background: #fff;
    -ms-flex-order: 2;
        order: 2;
    margin-bottom: 60px;
    padding: 50px 60px;
  }
  .form__tel-email {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    -ms-flex-order: 3;
        order: 3;
    margin-bottom: 60px;
    width: 100%;
  }
  .form__tel-email .form-column {
    margin-bottom: 20px;
  }
  .form__tel-email label {
    margin: 10px 0 0 20px;
    padding: 0;
  }
  fieldset {
    padding: 50px 60px;
    border: 2px solid #e5e5e5;
  }
  .form__achievements {
    background: #fff;
    -ms-flex-order: 4;
        order: 4;
    margin-bottom: 60px;
    padding: 50px 60px;
  }
  .form__comments {
    -ms-flex-order: 5;
        order: 5;
    width: 100%;
    padding: 50px 60px;
  }
  .form__button {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-order: 6;
        order: 6;
  }
  .form__contacts label {
    margin-right: 20px;
    padding: 0;
  }
  legend {
    position: relative;
    top: -60px;
    background: #fff;
  }
  .form__comments legend {
    position: relative;
    top: -60px;
    background: #fff;
  }
  .form__tel-email legend {
    display: inline-block;
    top: 0;
    background: #fff;
  }
  .required-line {
    display: inline-block;
    margin-top: 90px;
    text-transform: uppercase;
  }
  .label-email:before,
  .label-tel:before {
    content: '';
    display: block;
    position: absolute;
    top: -76px;
    right: 2px;
    width: 64px;
    height: 64px;
    background-color: #f2f2f2;
    z-index: 1;
  }
}
@media (min-width: 960px) {
  .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .form-header {
    font-size: 18px;
    line-height: 30px;
    padding: 100px;
  }
  .form__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    border: none;
    -ms-flex-order: 1;
        order: 1;
    width: 45%;
  }
  .form__app {
    background: #fff;
    -ms-flex-order: 2;
        order: 2;
    margin: 0 0 60px;
    padding: 35px 60px;
    width: 45%;
  }
  .form__tel-email {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-order: 3;
        order: 3;
  }
  .form__tel-email .form-column {
    width: 40%;
  }
  fieldset {
    padding: 50px 60px;
    border: 2px solid #e5e5e5;
  }
  .form__contacts label {
    margin-right: 20px;
    padding: 0;
  }
  legend {
    position: relative;
    top: -60px;
    background: #fff;
  }
  .form__comments legend {
    background: #fff;
  }
  .form__tel-email legend,
  .form__achievements legend {
    display: inline-block;
    top: 0;
  }
  .required-line {
    display: block;
    margin-top: 90px;
    text-transform: uppercase;
  }
  .label-email:before,
  .label-tel:before {
    content: '';
    display: block;
    position: absolute;
    top: -76px;
    right: 2px;
    width: 64px;
    height: 64px;
    background-color: #f2f2f2;
    z-index: 1;
  }
}
.page-tour {
  height: 240px;
  padding: 100px 20px 60px;
  background: url('../img/bg-back-mobile@1x.jpg');
}
.page-tour h2 {
  margin: 0;
  color: #fff;
}
@media (min-width: 700px) {
  .page-tour {
    min-height: 440px;
    padding: 150px 50px 85px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-tour h2 {
    font-family: 'opensanslight', sans-serif;
    font-size: 50px;
    line-height: normal;
  }
}
@media (min-width: 1200px) {
  .page-tour {
    height: 395px;
    background: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    padding: 220px 100px 110px;
  }
  .page-tour h2 {
    font-family: 'opensanslight', sans-serif;
    margin: 0;
    color: #fff;
  }
  .page-tour br {
    display: none;
  }
}
.photopost {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 20px 0;
  background: #f2f2f2;
}
.photopost::after {
  position: absolute;
  bottom: 152px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 38px;
  content: '';
  background: #dddfe0;
}
.photopost__main-image {
  margin: 0 auto 40px;
}
.photopost__filtr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.photopost__btn-editors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 80px;
  margin-bottom: 35px;
}
.photopost__contrast,
.photopost__crop,
.photopost__fill {
  border: none;
  background: none;
}
.photopost-btn-range {
  margin-bottom: 30px;
}
.photopost__range:nth-child(2),
.photopost__range:nth-child(3) {
  display: none;
}
.photopost__range--active {
  position: relative;
  width: 240px;
  margin: 0 auto 68px;
}
.scale {
  height: 2px;
  background: #283645;
}
.range-toggle {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
}
.toggle-1 {
  top: -5px;
  left: 185px;
}
.range-toggle:active {
  background: #d22856;
}
input[type='reset'] {
  display: block;
  width: 100%;
  color: #dddfe0;
  border: 3px solid #dddfe0;
  outline: none;
}
input[type='reset']:hover {
  width: 100%;
  color: #dddfe0;
  border: 3px solid #b5b9be;
  outline: none;
}
input[type='reset']:active {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #b5b9be;
  outline: none;
  background: #b5b9be;
}
@media (min-width: 700px) {
  .photopost {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px 60px;
    margin: 0 -40px;
  }
  .photopost::after {
    display: none;
  }
  .photopost__main-image {
    width: 45%;
    height: 400px;
    margin: 0 50px 0 0;
  }
  .photopost__filtr {
    width: 45%;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .photopost__btn-editors {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0;
    margin: 0 30px 0 0;
  }
  .photopost__crop,
  .photopost__fill {
    margin-bottom: 35px;
  }
  .photopost-btn-range {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .photopost__range:nth-child(2) {
    position: relative;
    display: block;
    top: 65px;
  }
  .photopost__range:nth-child(3) {
    position: relative;
    display: block;
    top: 120px;
  }
  .toggle-1 {
    top: -5px;
    left: 125px;
  }
  .toggle-2 {
    top: -5px;
    left: 25px;
  }
  .toggle-3 {
    top: -5px;
    left: 85px;
  }
  .photopost__range {
    position: relative;
    width: 180px;
    margin: 20px 0;
  }
  .photopost__range::after {
    position: absolute;
    bottom: -80px;
    right: 0;
    display: block;
    width: 290px;
    height: 2px;
    margin-bottom: 38px;
    content: '';
    background: #dddfe0;
  }
  .photopost__btn-submit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  input[type='reset'] {
    display: block;
  }
  input[type='reset']:hover {
    width: 180px;
  }
  input[type='reset']:active {
    width: 180px;
  }
}
@media (min-width: 1200px) {
  .photopost {
    padding: 60px 80px;
    margin: 0;
  }
  .photopost__main-image {
    width: 35%;
  }
  .photopost__filtr {
    width: 53%;
  }
  .photopost__range {
    position: relative;
    width: 290px;
    margin: 20px 0;
  }
  .toggle-1 {
    top: -5px;
    left: 60px;
  }
  .toggle-2 {
    top: -5px;
    left: 165px;
  }
  .toggle-3 {
    top: -5px;
    left: 125px;
  }
  .photopost__range::after {
    width: 410px;
    left: -80px;
  }
  .photopost__btn-submit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%;
  }
  input[type='reset'] {
    display: block;
    width: 180px;
    margin: 0;
  }
  input[type='reset']:hover {
    display: block;
    width: 180px;
    margin: 0;
  }
  input[type='reset']:active {
    display: block;
    width: 180px;
    margin: 0;
  }
}
.post {
  background: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.post-footer,
.post-header {
  font-size: 14px;
  line-height: 30px;
  padding: 55px 40px 60px;
}
.post__item {
  padding-bottom: 20px;
  text-align: left;
  background: #f2f2f2;
  margin-bottom: 20px;
}
.post__item::last-child {
  margin-bottom: 0;
}
.post__item--panorama {
  position: relative;
}
.header-panorama {
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 20px;
  display: block;
  width: 140px;
  padding: 12px 20px;
  text-align: center;
  color: #fff;
  background: #d22856;
}
.post__item-photo {
  overflow: hidden;
  width: 100%;
  height: 180px;
}
.post__author {
  padding: 20px 20px 0;
  font-family: 'opensansbold', sans-serif;
}
.post__content {
  padding: 0 20px 20px;
}
.post__author span {
  font-family: 'opensanslight', sans-serif;
}
.like {
  font-size: 12px;
  position: relative;
  display: block;
  padding-left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d22856;
}
.like::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 13px;
  height: 12px;
  background: url('../img/icon-heart.svg');
}
@media (min-width: 700px) {
  .post-header,
  .post-footer {
    font-size: 18px;
    line-height: 30px;
    padding: 75px 70px;
  }
  .post {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .post__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 300px;
    height: 455px;
  }
  .post__item:nth-child(6),
  .post__item:nth-child(7) {
    margin-bottom: 0;
  }
  .post__item-photo {
    width: 300px;
    height: 300px;
  }
  .post__item--panorama {
    width: 100%;
    -ms-flex-positive: 2;
        flex-grow: 2;
    height: 660px;
    margin: 0 20px 20px;
  }
  .header-panorama-photo {
    width: 100%;
    height: 510px;
  }
  .post__item:not(:first-of-type) .like {
    padding-left: 20px;
  }
  .post__item:not(:first-of-type) .like::before {
    left: 260px;
  }
}
@media (min-width: 960px) {
  .post-header,
  .post-footer {
    padding: 100px 70px 95px;
  }
  .post__item {
    width: 30%;
    height: 555px;
  }
  .post__item-photo {
    width: 100%;
    max-width: 300px;
    height: 400px;
  }
  .post__item--panorama {
    width: 100%;
    -ms-flex-positive: 3;
        flex-grow: 3;
    height: 660px;
  }
  .post__item:not(:first-of-type) .like::before {
    left: 230px;
  }
}
.page-hero {
  height: 235px;
  padding: 100px 75px 85px;
  background: url('../img/bg-back-mobile@1x.jpg');
}
.page-hero h2 {
  color: #fff;
}
@media (min-width: 700px) {
  .page-hero {
    height: 100px;
    padding: 190px 20px 150px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .page-hero {
    height: 100px;
    padding: 190px 20px 150px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: #fff;
  }
}
.btn {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  line-height: 18px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  background: none;
}
.btn-menu {
  width: 24px;
  height: 12px;
  background-image: url('../img/icon-menu-burger.svg') repeat-y;
  margin: 25px 25px 25px 0;
}
.btn--download {
  margin: 0 auto 30px;
  outline: none;
}
.btn--download:hover {
  margin: 0 auto 30px;
  color: #d22856;
  outline: none;
  background: #fff;
}
.btn--download:active {
  margin: 0 auto 30px;
  color: rgba(240, 40, 86, 0.3);
  outline: none;
  background: #fff;
}
.btn--submit {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  width: 100%;
  margin: 50px 0;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  background: #2aab6d;
}
.btn--submit:hover {
  margin: 50px 0;
  outline: none;
  background: #1c9b5e;
}
.btn--submit:active {
  margin: 50px 0;
  color: rgba(255, 255, 255, 0.35);
  outline: none;
  background: #1c9b5e;
}
.btn--submit:disabled {
  margin: 50px 0;
  color: #fff;
  outline: none;
  background: #e5e5e5;
}
.btn--post {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #d22856;
  border: 3px solid #d22856;
  outline: none;
}
.btn--post:hover {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #fff;
  border: 3px solid #d22856;
  outline: none;
  background: #d22856;
}
.btn--post:active {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #d22856;
  outline: none;
  background: #d22856;
}
@media (min-width: 700px) {
  .btn--download {
    width: 300px;
  }
  .btn--download:hover {
    width: 300px;
  }
  .btn--download:active {
    width: 300px;
  }
  .btn--submit {
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--submit:hover {
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--submit:active {
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--post {
    width: 100%;
    margin: 0 0 15px;
  }
  .btn--post:hover {
    width: 100%;
    margin: 0 0 15px;
  }
  .btn--post:active {
    width: 100%;
    margin: 0 0 15px;
  }
}
@media (min-width: 1200px) {
  .btn--download {
    margin-bottom: 65px;
  }
  .btn--download:hover {
    margin-bottom: 65px;
  }
  .btn--download:hover {
    margin-bottom: 65px;
  }
  .btn-menu {
    display: none;
  }
  .btn--post {
    width: 180px;
    margin: 0;
  }
  .btn--post:hover {
    width: 180px;
    margin: 0;
  }
  .btn--post:active {
    width: 180px;
    margin: 0;
  }
}
.page-footer {
  padding: 50px 0 0;
}
.page-footer__contacts {
  padding: 45px 0 40px;
  background: #fff;
}
.page-footer h2 {
  padding: 0 20px;
}
.page-footer__contacts p {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  margin: 25px 0 0;
  color: #283645;
}
.call {
  margin-top: 0;
}
.page-footer__contacts a,
.page-footer__contacts address {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  color: #d22856;
}
.page-footer__map {
  height: 200px;
  background: url('../img/bg-map-mobile@1x.png') no-repeat;
  background-color: #fff;
  background-position: center bottom;
  background-size: cover;
}
/* page-footer__SOCICAL */
.page-footer__social {
  padding: 40px 0;
}
.footer-social {
  margin: 40px 0;
}
.footer-social li {
  display: inline;
  vertical-align: middle;
}
.footer-social__facebook,
.footer-social__twitter,
.footer-social__youtube {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.footer-social__twitter {
  background: url('../img/icon-twitter.svg') no-repeat;
  background-position: center;
}
.footer-social__facebook {
  background: url('../img/icon-facebook.svg') no-repeat;
  background-position: center;
}
.footer-social__youtube {
  background: url('../img/icon-youtube.svg') no-repeat;
  background-position: center;
}
.footer-copyright a {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  color: #283645;
}
.footer-copyright img {
  display: inline-block;
  vertical-align: middle;
}
.page-footer__social-disabled {
  display: none;
}
@media (min-width: 700px) {
  .page-footer__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 35px 0 50px;
  }
  .page-footer h2 {
    font-size: 40px;
    margin: 0 60px;
    padding: 0 50px;
  }
  .call,
  .write-us {
    width: 40%;
    margin-bottom: 55px;
  }
  .adress {
    width: 100%;
  }
  .page-footer__map {
    height: 375px;
  }
  .page-footer__social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .footer-logo {
    margin-right: 70px;
  }
  .footer-social {
    position: relative;
    margin: 0 90px 0 0;
  }
}
@media (min-width: 960px) {
  .page-footer__contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 70px 0 30px;
  }
  .page-footer h2 {
    font-size: 40px;
    margin: 0 60px;
    padding: 0 100px;
  }
  .call,
  .write-us,
  .adress {
    width: 30%;
  }
  .call p,
  .write-us p,
  .adress p {
    display: block;
    margin: 0 0 15px;
  }
  .page-footer__map {
    height: 500px;
  }
}
.service {
  overflow: hidden;
  padding: 65px 0 50px;
  margin: 0 auto;
  background: #f2f2f2;
}
table {
  margin: 0 auto 40px;
  border-collapse: collapse;
}
td,
th {
  border-collapse: collapse;
  border: 3px solid #e5e5e5;
}
th {
  border-top: 3px solid #283645;
  border-left: 3px solid #283645;
}
th:not(:first-child) {
  border-bottom: 3px solid #283645;
}
th:last-child {
  border-right: 3px solid #283645;
}
.service .empty {
  border-top: none;
  border-left: none;
  background: #f2f2f2;
}
th {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 25px 0;
  text-transform: uppercase;
  color: #fff;
  background: #283645;
}
th span {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  line-height: 30px;
}
td {
  min-width: 280px;
  padding: 25px 23px;
  text-align: left;
  text-transform: uppercase;
  color: #283645;
  background: #fff;
}
.service-header {
  display: block;
  float: left;
}
.service-element-no,
.service-element-ok {
  display: block;
  float: right;
}
.hit {
  position: relative;
}
.hit::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 72px;
  height: 72px;
  content: '';
  color: #fff;
  background: url('../img/bg-hit.svg') no-repeat;
}
.hit::after {
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  content: 'ХИТ';
  transform: rotate(-45deg);
  color: #fff;
}
@media (min-width: 700px) {
  .service {
    overflow: hidden;
    padding: 40px 0 70px;
    background: #f2f2f2;
  }
  table {
    position: initial;
    margin: 0 auto;
  }
  th {
    font-size: 16px;
    padding: 20px 0 15px;
  }
  th span {
    font-size: 18px;
  }
  td {
    min-width: 170px;
    padding: 13px 15px;
    text-transform: none;
  }
  .service-element-no,
  .service-element-ok {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .service-item-text {
    display: none;
  }
  .slider-navigation-table {
    display: none;
  }
}
@media (min-width: 960px) {
  .service {
    padding: 70px 0 100px;
  }
  table {
    position: initial;
    margin: 0 auto;
  }
  th {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 15px;
  }
  th span {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-top: 7px;
  }
  td {
    min-width: 230px;
    padding: 20px 28px 17px 28px;
    width: 150px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }
  .service-element-no,
  .service-element-ok {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .service-item-text {
    display: none;
  }
  .slider-navigation-table {
    display: none;
  }
}
.slider-navigation li {
  display: inline;
}
.slider-navigation__control {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  vertical-align: middle;
  border-radius: 50%;
  background: #bec2c7;
}
.slider-navigation__control:hover {
  background: #7e868f;
}
.slider-navigation__control:active {
  background: #e9ebec;
}
.slider-navigation__control--active {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  vertical-align: middle;
  border: 3px solid #283645;
  border-radius: 50%;
  background: #fff;
  background: #b5b9be;
}
.slider-navigation__arrow {
  display: none;
}
@media (min-width: 700px) {
  .slider-navigation__round {
    display: block;
  }
}
@media (min-width: 960px) {
  .slider-navigation__round {
    display: none;
  }
  .slider-navigation__arrow {
    display: block;
  }
  .arrow-left {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
  }
  .arrow-right {
    display: block;
    position: absolute;
    top: 90px;
    right: 0;
  }
  .slider-navigation__arrow-element {
    background: url("http://placehold.it/80x65");
    width: 80px;
    height: 65px;
    top: -360px;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}
.comments {
  position: relative;
  padding: 55px 0 45px;
}
.comments .wrapper {
  position: relative;
}
.comments__item:nth-child(2),
.comments__item:nth-child(3) {
  display: none;
}
.comments__item {
  margin-bottom: 40px;
}
.comments__item-header {
  margin-bottom: 30px;
}
.comments__item-header p {
  display: none;
}
@media (min-width: 700px) {
  .comments {
    padding: 60px 0 20px;
    text-align: center;
  }
  .comments__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .comments__item-comment {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 1;
        order: 1;
    text-align: center;
    margin-bottom: 55px;
  }
  .comments__item-header {
    -ms-flex-order: 2;
        order: 2;
    margin-bottom: 0;
  }
  .comments__item-header p {
    color: #283645;
    font-family: 'opensans', sans-serif;
    display: block;
  }
  .comments__item-header h3 {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  .comments__item p {
    color: #283645;
    font-family: 'opensans', sans-serif;
  }
}
@media (min-width: 1200px) {
  .comments {
    padding: 200px 0 50px;
  }
  .comments__item {
    margin-bottom: 0;
  }
  .comments__item-comment p {
    font-size: 18px;
    line-height: 30px;
    padding: 0 60px;
  }
  .comments__item-header p {
    color: #283645;
    font-family: 'opensans', sans-serif;
    display: block;
  }
  .comments__item-header h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
  }
  .comments__item p {
    font-size: 18px;
    color: #283645;
    font-family: 'opensans', sans-serif;
  }
}
.main-about {
  overflow: hidden;
  padding: 55px 25px 0;
  background: #f2f2f2;
}
.main-about .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.text-item {
  margin-top: 45px;
}
.text-item:first-child {
  margin-top: 0;
}
.text-item h3 {
  margin-bottom: 25px;
}
.photo-item-1 {
  position: relative;
  bottom: -40px;
  display: block;
  margin: 0 auto;
}
.photo-item-2,
.photo-item-3 {
  display: none;
}
@media (min-width: 700px) {
  .main-about {
    padding: 0 40px;
    min-height: 480px;
    overflow: hidden;
    text-align: left;
  }
  .main-about .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .main-about__photo-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 1;
        order: 1;
  }
  .main-about__text-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-order: 2;
        order: 2;
    padding-top: 75px;
    width: 310px;
  }
  .photo-item-1 {
    width: 270px;
    height: 545px;
    position: relative;
    bottom: -60px;
  }
}
@media (min-width: 960px) {
  .main-about {
    padding: 0 40px;
    min-height: 480px;
    overflow: hidden;
    text-align: left;
  }
  .main-about .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .main-about__photo-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-order: 1;
        order: 1;
    padding: 60px 0 0;
  }
  .photo-item-1,
  .photo-item-2,
  .photo-item-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 185px;
    height: 380px;
    position: initial;
    margin: 0;
  }
  .main-about__text-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-order: 2;
        order: 2;
    width: 100%;
    padding: 0 0 60px;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
  .text-item {
    padding: 0 20px;
    text-align: center;
  }
  .text-item h3 {
    padding: 0 40px;
  }
}
.page-header {
  position: relative;
  top: 60px;
  margin-top: -60px;
  background: #283645;
  z-index: 3;
}
.page-header__menu-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.logo {
  display: block;
  margin: 25px 0 28px 30px;
  border: none;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
  width: 75px;
  height: 22px;
}
.page-header__menu-items li {
  list-style: none;
}
.menu-item {
  display: block;
  font-family: 'opensansbold', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}
@media (min-width: 700px) {
  .logo {
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
    width: 150px;
    height: 40px;
  }
  .menu-item {
    font-size: 18px;
    line-height: 32px;
    -ms-flex-align: center;
        align-items: center;
    text-transform: inherit;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    height: 110px;
    top: 110px;
    margin-top: -110px;
    z-index: 1;
  }
  .page-header__menu {
    width: 960px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-header__menu-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-preferred-size: 620px;
        flex-basis: 620px;
  }
  .menu-item {
    font-family: 'opensans', sans-serif;
    border: none;
  }
}
.main-header {
  padding: 50px 60px 70px;
}
.main-header h2:first-child {
  margin-bottom: 45px;
}
@media (min-width: 700px) {
  .main-header h2 {
    font-size: 40px;
    margin: 0 auto;
  }
  .main-header h2:first-child {
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .main-header h2 {
    font-size: 50px;
    max-width: 800px;
    margin: 0 auto;
  }
  .main-header h2:first-child {
    margin-bottom: 20px;
  }
}
.main-apps {
  position: relative;
  width: 100%;
  min-height: 730px;
  padding: 175px 0 0;
  background: #1d2631 url('../img/bg-back-mobile@1x.jpg') repeat top center;
  background-size: cover;
}
.hand-with-mobile {
  display: block;
  margin: 0 auto;
}
.main-apps__apps {
  display: block;
  margin: 0 -40px;
  padding: 25px 20px 30px;
  background: #283645;
}
.page-header__apps h2 {
  font-family: 'opensanslight', sans-serif;
  font-size: 40px;
  display: none;
  color: #fff;
}
.apps {
  margin-bottom: 28px;
}
.apps li {
  display: inline;
  margin-right: 35px;
  vertical-align: top;
}
.apps li:last-child {
  margin-right: 0;
}
.main-apps__apps p {
  color: #fff;
  padding: 0 40px;
}
@media (min-width: 700px) {
  .main-apps {
    position: relative;
    min-height: 680px;
  }
  .hand-with-mobile {
    display: block;
    position: relative;
    width: 470px;
    top: -40px;
    height: 545px;
    float: right;
    margin-right: 45px;
  }
  .main-apps__apps {
    width: 300px;
    position: absolute;
    padding: 0;
    top: 155px;
    left: 80px;
    background: none;
  }
  .main-apps__apps p {
    padding: 0;
  }
  .main-apps__apps h2 {
    display: block;
    color: white;
    font-size: 40px;
    padding: 0 30px;
    font-family: 'opensanslight', sans-serif;
    margin-bottom: 35px;
  }
}
@media (min-width: 960px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
  }
  .main-apps {
    min-width: 300px;
    min-height: 855px;
  }
  .main-apps__apps {
    left: 20px;
    top: 45px;
    padding: 0;
    width: 310px;
  }
  .main-apps__apps h2 {
    margin-bottom: 60px;
    font-size: 50px;
  }
  .apps {
    margin-bottom: 55px;
  }
  .hand-with-mobile {
    display: block;
    width: 550px;
    top: 35px;
    height: 645px;
    float: right;
  }
  .main-apps__apps p {
    font-size: 18px;
    line-height: 24px;
  }
}
.main-24-hours {
  display: none;
}
@media (min-width: 700px) {
  .main-24-hours {
    display: block;
    padding: 60px 40px;
    overflow: hidden;
    text-align: left;
  }
  .main-24-hours .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .main-24-hours-photo {
    background: url("http://placehold.it/240x270") no-repeat;
    display: -ms-flexbox;
    display: flex;
    width: 240px;
    height: 275px;
    -ms-flex-order: 1;
        order: 1;
  }
  .main-24-hours-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-order: 2;
        order: 2;
    padding-top: 30px;
    width: 310px;
  }
  .main-24-hours-text p {
    color: #283645;
  }
  .main-24-hours-text h3 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #000000;
  }
  .main-24-hours a {
    display: block;
    font-family: 'opensanslight', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    color: #d22856;
    margin-top: 15px;
  }
}
@media (min-width: 960px) {
  .main-24-hours {
    background: #f2f2f2;
  }
  .main-24-hours-photo {
    background: url("http://placehold.it/300x345") no-repeat;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 345px;
    margin-right: 70px;
    -ms-flex-order: 1;
        order: 1;
  }
  .main-24-hours .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .main-24-hours-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-order: 2;
        order: 2;
    padding-top: 65px;
    width: 581px;
  }
  .main-24-hours-text h3 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .main-24-hours-text br {
    display: none;
  }
}
