@font-face {
  font-family: 'opensans';
  src: local('opensans'), url('../fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'opensanslight';
  src: local('opensanslight'), url('../fonts/opensanslight.woff') format('woff');
}
@font-face {
  font-family: 'opensansbold';
  src: local('opensansbold'), url('../fonts/opensansbold.woff') format('woff');
}
html {
  box-sizing: border-box;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-family: 'opensans', sans-serif;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  color: #283645;
}
h3 {
  font-family: 'opensansbold', sans-serif;
}
p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #283645;
}
a {
  font-family: 'opensansbold', sans-serif;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.form {
  padding: 55px 0;
}
.form-header {
  padding: 0 20px;
}
fieldset {
  margin: 0 auto;
  padding: 40px 0;
  border: none;
}
.emotions {
  padding-bottom: 0;
}
.form__achievements,
.form__app {
  margin: 0 -20px;
  padding: 40px 20px;
  background: #f2f2f2;
}
.form-row {
  margin-bottom: 25px;
}
.form-row:last-child {
  margin-bottom: 0;
}
.form-column {
  margin-bottom: 43px;
}
.form-column:last-child {
  margin-bottom: 0;
}
legend {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  margin: 0 20px 40px;
  text-transform: uppercase;
  color: #d22856;
  background: #f2f2f2;
}
.form__tel-email legend {
  display: none;
}
.emotions legend {
  background: #fff;
}
label {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  display: block;
  text-align: left;
  color: #d22856;
}
.form__contacts label,
.form__tel-email label {
  padding: 25px 0 15px 20px;
}
.form__contacts label:first-of-type,
.form__tel-email label:first-of-type {
  padding-top: 0;
}
.form__achievements label,
.form__app label {
  font-family: 'opensans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
input[type='email'],
input[type='tel'],
input[type='text'],
textarea {
  font-family: 'opensans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: left;
  color: #283645;
  border: 2px solid #e7e7e7;
}
input[type='email']:hover,
input[type='tel']:hover,
input[type='text']:hover,
textarea:hover {
  border: 2px solid #283645;
  outline: none;
}
input[type='email']:active,
input[type='tel']:active,
input[type='text']:active,
textarea:active {
  border: 2px solid #d22856;
  outline: none;
}
input[type='email'],
input[type='tel'] {
  position: relative;
  display: block;
}
/* TEXTAREA */
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 201px;
  padding: 20px;
  color: #283645;
}
textarea:hover {
  border: 2px solid #283645;
}
textarea:active {
  border: 2px solid #283645;
}
/* CHECKBOX */
input[type='checkbox'],
input[type='radio'] {
  display: none;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  display: block;
  margin-bottom: 45px;
  padding-left: 70px;
  cursor: pointer;
}
input[type='checkbox'] + label:last-child,
input[type='radio'] + label:last-child {
  margin-bottom: 0;
}
input[type='checkbox'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  background-color: #fff;
}
input[type='checkbox']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #283645;
  outline: none;
  background-color: #fff;
}
input[type='checkbox']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #d22856;
  outline: none;
  background-color: #fff;
}
input[type='checkbox']:active + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}
input[type='checkbox']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}
/* RADIO */
input[type='radio'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
}
input[type='radio']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #283645;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
}
input[type='radio']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #d22856;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
}
input[type='radio']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
input[type='radio']:checked:hover + label:hover::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
input[type='radio']:checked:active + label:active::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}
.form span {
  font-family: 'opensans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}
::-webkit-input-placeholder {
  color: #283645;
}
::-moz-placeholder {
  color: #283645;
}
:-moz-placeholder {
  color: #283645;
}
:-ms-input-placeholder {
  color: #283645;
}
@media (min-width: 700px) {
  .form-header {
    font-size: 18px;
    line-height: 30px;
    padding: 100px;
  }
  .form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0;
  }
  /* Flex-elements */
  .form-row {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
  }
  .form-row:last-child {
    margin-bottom: 0;
  }
  .form-column {
    margin-bottom: 43px;
  }
  .form-column:last-child {
    margin-bottom: 0;
  }
  fieldset {
    margin-bottom: 60px;
    padding: 50px 60px;
    border: 2px solid #e5e5e5;
  }
  .form__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 1;
        order: 1;
    margin: 0 0 60px;
    padding: 0;
    border: none;
  }
  .form__app {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-order: 2;
        order: 2;
    margin: 0 0 60px;
    padding: 50px 60px;
  }
  .form__tel-email {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 3;
        order: 3;
    margin: 0 0 60px;
  }
  .form__achievements {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-order: 4;
        order: 4;
    margin: 0 0 60px;
    padding: 50px 60px;
  }
  .emotions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 5;
        order: 5;
    margin: 0;
    padding-bottom: 50px;
  }
  .form__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-order: 6;
        order: 6;
  }
  .form__contacts label {
    margin-right: 20px;
    padding: 0;
  }
  legend {
    position: relative;
    margin: 0;
    padding: 0 20px;
    background: #fff;
  }
  .form__tel-email legend {
    display: inline-block;
    background: #fff;
  }
  .form__tel-email .form-row {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
  }
  .form__tel-email .form-row:nth-child(2) {
    margin-bottom: 20px;
  }
  .form__tel-email label {
    width: 100%;
    margin-top: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .required-line {
    margin-top: 90px;
    text-transform: uppercase;
  }
  .label-tel:before {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: #f2f2f2;
    z-index: 1;
  }
  .label-email:before {
    content: '';
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: #f2f2f2;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .form__contacts {
    display: -ms-flexbox;
    display: flex;
    width: 435px;
    -ms-flex-order: 1;
        order: 1;
    border: none;
  }
  .form__app {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    width: 435px;
    -ms-flex-order: 2;
        order: 2;
    margin: 0 0 60px;
    padding: 50px 60px;
  }
  .form__tel-email {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-order: 3;
        order: 3;
    margin: 0 0 60px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .form__achievements {
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -ms-flex-order: 4;
        order: 4;
    margin: 0 0 60px;
    padding: 50px 60px;
  }
  .emotions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 5;
        order: 5;
    margin: 0;
    padding-bottom: 50px;
  }
  .form__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-order: 6;
        order: 6;
  }
}
.page-tour {
  height: 240px;
  padding: 100px 20px 60px;
  background: url('../img/bg-back-mobile@1x.jpg');
}
.page-tour h2 {
  margin: 0;
  color: #fff;
}
@media (min-width: 700px) {
  .page-tour {
    min-height: 440px;
    padding: 150px 50px 85px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-tour h2 {
    font-family: 'opensanslight', sans-serif;
    font-size: 50px;
    line-height: normal;
  }
}
@media (min-width: 1200px) {
  .page-tour {
    height: 395px;
    background: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    padding: 220px 100px 110px;
  }
  .page-tour h2 {
    font-family: 'opensanslight', sans-serif;
    margin: 0;
    color: #fff;
  }
  .page-tour br {
    display: none;
  }
}
.photopost {
  position: relative;
  padding: 20px 0;
  background: #f2f2f2;
}
.photopost-btn-range {
  margin-bottom: 30px;
}
.photopost__contrast,
.photopost__crop,
.photopost__fill {
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: middle;
  border: none;
  background: none;
}
.photopost__range:nth-child(2),
.photopost__range:nth-child(3) {
  display: none;
}
.photopost__main-image {
  margin: 0 auto 40px;
}
input[type='reset'] {
  display: block;
}
input[type='reset'] {
  width: 100%;
  color: #dddfe0;
  border: 3px solid #dddfe0;
  outline: none;
}
input[type='reset']:hover {
  width: 100%;
  color: #dddfe0;
  border: 3px solid #b5b9be;
  outline: none;
}
input[type='reset']:active {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #b5b9be;
  outline: none;
  background: #b5b9be;
}
.photopost::after {
  position: absolute;
  bottom: 152px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 38px;
  content: '';
  background: #dddfe0;
}
.photopost__range--active {
  position: relative;
  width: 240px;
  margin: 0 auto 68px;
}
.scale {
  height: 2px;
  background: #283645;
}
.range-toggle {
  position: absolute;
  top: -5px;
  left: 185px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
}
.range-toggle:active {
  background: #d22856;
}
@media (min-width: 700px) {
  .photopost {
    padding: 55px 40px;
  }
  .photopost__main-image {
    display: block;
    float: left;
    width: 300px;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 0;
  }
  .photopost__filtr {
    position: relative;
    display: block;
    float: left;
  }
  .photopost__contrast,
  .photopost__crop,
  .photopost__fill {
    display: block;
  }
  .photopost__range:first-child {
    position: absolute;
    top: 12px;
    right: 30px;
    display: block;
    float: left;
    width: 200px;
  }
  .photopost__range:nth-child(2) {
    position: absolute;
    top: 100px;
    right: 30px;
    display: block;
    float: left;
    width: 200px;
  }
  .photopost__range:last-child {
    position: absolute;
    top: 185px;
    right: 30px;
    display: block;
    float: left;
    width: 200px;
  }
  input[type='reset'] {
    width: 260px;
    margin: 0;
  }
  input[type='reset']:hover {
    width: 260px;
    margin: 0;
  }
  input[type='reset']:active {
    width: 260px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .photopost {
    width: 960px;
    margin: 0 auto;
    padding: 55px 40px;
  }
  .photopost__main-image {
    margin-right: 90px;
  }
  input[type='reset'] {
    display: inline-block;
    width: 180px;
  }
  input[type='reset']:hover {
    display: inline-block;
    width: 180px;
  }
  input[type='reset']:active {
    display: inline-block;
    width: 180px;
  }
}
.post {
  font-size: 0;
  margin: 0 auto;
  background: #fff;
}
.post-footer,
.post-header {
  font-size: 14px;
  line-height: 30px;
  padding: 55px 40px 60px;
}
.post__item {
  margin: 0 auto 20px;
  padding-bottom: 20px;
  text-align: left;
  background: #f2f2f2;
}
.post__item--panorama {
  position: relative;
}
.header-panorama-photo {
  overflow: hidden;
  width: 100%;
  height: 137px;
}
.header-panorama {
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 40px;
  display: block;
  width: 140px;
  padding: 13px 20px;
  text-align: center;
  color: #fff;
  background: #d22856;
}
.post__item-photo {
  overflow: hidden;
  width: 100%;
  height: 180px;
}
.post__author {
  margin: 0;
  padding: 20px 20px 0;
}
.post__content {
  margin: 0;
  padding: 0 20px 20px;
}
.post__author span {
  font-family: 'opensanslight', sans-serif;
  line-height: 24px;
}
.like {
  font-size: 12px;
  position: relative;
  display: block;
  padding-left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d22856;
}
.like::before {
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  width: 13px;
  height: 12px;
  content: '';
  background: url('../img/icon-heart.svg');
}
.like::before .post__item::last-child {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .post-footer,
  .post-header {
    font-size: 18px;
    line-height: 30px;
  }
  .header-panorama {
    top: 40px;
  }
  .post__item {
    display: inline-block;
    width: 40%;
    height: 455px;
    margin: 0 20px 20px 0;
    vertical-align: top;
  }
  .post__item img {
    display: block;
    width: 100%;
    height: 300px;
  }
  .post__item--panorama {
    display: block;
    width: 100%;
    height: 630px;
  }
  .post__item--panorama img {
    height: 510px;
  }
  .header-panorama-photo {
    display: block;
    width: 100%;
    height: 510px;
    background-size: cover;
  }
  .post-footer {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .post__item {
    display: inline-block;
    width: 30%;
    height: 455px;
    margin: 0 20px 20px 0;
    vertical-align: top;
  }
  .post__item img {
    display: block;
    width: 100%;
    height: 300px;
  }
  .post__item--panorama {
    display: block;
    width: 100%;
    height: 630px;
  }
  .post__item--panorama img {
    height: 510px;
  }
  .header-panorama-photo {
    display: block;
    width: 100%;
    height: 510px;
    background-size: cover;
  }
  .post-footer {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
.page-hero {
  height: 235px;
  padding: 100px 75px 85px;
  background: url('../img/bg-back-mobile@1x.jpg');
}
.page-hero h2 {
  color: #fff;
}
@media (min-width: 700px) {
  .page-hero {
    height: 100px;
    padding: 190px 20px 150px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .page-hero {
    height: 100px;
    padding: 190px 20px 150px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }
  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: #fff;
  }
}
.btn {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  line-height: 18px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
  background: none;
}
.btn-menu {
  width: 24px;
  height: 12px;
  background-image: url('../img/icon-menu-burger.svg') no-repeat;
}
.btn--download {
  margin: 0 auto 30px;
  outline: none;
}
.btn--download:hover {
  margin: 0 auto 30px;
  color: #d22856;
  outline: none;
  background: #fff;
}
.btn--download:active {
  margin: 0 auto 30px;
  color: rgba(240, 40, 86, 0.3);
  outline: none;
  background: #fff;
}
.btn--submit {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  width: 100%;
  margin: 50px 0;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  background: #2aab6d;
}
.btn--submit:hover {
  margin: 50px 0;
  outline: none;
  background: #1c9b5e;
}
.btn--submit:active {
  margin: 50px 0;
  color: rgba(255, 255, 255, 0.35);
  outline: none;
  background: #1c9b5e;
}
.btn--submit:disabled {
  margin: 50px 0;
  color: #fff;
  outline: none;
  background: #e5e5e5;
}
.btn--post {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #d22856;
  border: 3px solid #d22856;
  outline: none;
}
.btn--post:hover {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #fff;
  border: 3px solid #d22856;
  outline: none;
  background: #d22856;
}
.btn--post:active {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid #d22856;
  outline: none;
  background: #d22856;
}
@media (min-width: 700px) {
  .btn--download {
    width: 300px;
  }
  .btn--download:hover {
    width: 300px;
  }
  .btn--download:active {
    width: 300px;
  }
  .btn--submit {
    display: block;
    float: left;
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--submit:hover {
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--submit:active {
    width: 300px;
    margin: 70px 0 0;
  }
  .btn--post {
    width: 260px;
    margin: 0 0 25px;
  }
  .btn--post:hover {
    width: 260px;
    margin: 0 0 25px;
  }
  .btn--post:active {
    width: 260px;
    margin: 0 0 25px;
  }
}
@media (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
  .btn--post {
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }
  .btn--post:hover {
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }
  .btn--post:active {
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }
}
.page-footer {
  width: 100%;
  min-height: 615px;
  background: url('../img/bg-map-mobile@1x.png') no-repeat;
  background-color: #fff;
  background-position: center bottom;
  background-size: cover;
}
.page-footer__contacts {
  padding: 50px 0 40px;
  background: #fff;
}
.page-footer h2 {
  font-family: 'opensanslight', sans-serif;
  margin-bottom: 45px;
}
.page-footer__contacts p {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  margin: 25px 0 0;
  color: #283645;
}
.page-footer__contacts .call {
  margin-top: 0;
}
.page-footer__contacts a,
.page-footer__contacts address {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  color: #d22856;
}
.page-footer-inner {
  width: 100%;
  padding: 40px 0;
}
.page-footer__social {
  margin: 40px 0;
}
.page-footer__social li {
  display: inline;
  vertical-align: middle;
}
.page-footer__twitter {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-twitter.svg') no-repeat;
  background-position: center;
}
.page-footer__facebook {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-facebook.svg') no-repeat;
  background-position: center;
}
.page-footer__youtube {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-youtube.svg') no-repeat;
  background-position: center;
}
.page-footer__copyright a {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  color: #283645;
}
.page-footer__copyright img {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 700px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .page-footer__inner-logo {
    margin-right: 70px;
  }
  .page-footer-inner .wrapper {
    display: -ms-flexbox;
    display: flex;
    padding: 85px 40px 35px;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .page-footer__social {
    position: relative;
    margin: 0 90px 0 0;
  }
}
.service {
  overflow: hidden;
  padding: 65px 0 50px;
  background: #f2f2f2;
}
table {
  position: relative;
  left: -520px;
  margin-bottom: 40px;
  border-collapse: collapse;
}
td,
th {
  border-collapse: collapse;
  border: 3px solid #e5e5e5;
}
.service .empty {
  border-top: none;
  border-left: none;
  background: #f2f2f2;
}
th {
  font-family: 'opensansbold', sans-serif;
  font-size: 18px;
  line-height: 30px;
  min-width: 280px;
  padding: 25px 0;
  text-transform: uppercase;
  color: #fff;
  background: #283645;
}
th span {
  font-family: 'opensanslight', sans-serif;
  font-size: 24px;
  line-height: 30px;
}
td {
  padding: 25px 23px;
  text-align: left;
  text-transform: uppercase;
  color: #283645;
  background: #fff;
}
.service-header {
  display: block;
  float: left;
}
.service-element-no,
.service-element-ok {
  display: block;
  float: right;
}
.hit {
  position: relative;
}
.hit::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 72px;
  height: 72px;
  content: '';
  color: #fff;
  background: url('../img/bg-hit.svg') no-repeat;
}
.hit::after {
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  content: 'ХИТ';
  transform: rotate(-45deg);
  color: #fff;
}
.slider-navigation li {
  display: inline;
}
.slider-navigation__control {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  vertical-align: middle;
  border-radius: 50%;
  background: #bec2c7;
}
.slider-navigation__control:hover {
  background: #7e868f;
}
.slider-navigation__control:active {
  background: #e9ebec;
}
.slider-navigation__control--active {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
  vertical-align: middle;
  border: 3px solid #283645;
  border-radius: 50%;
  background: #fff;
  background: #b5b9be;
}
.comments {
  position: relative;
  padding: 55px 0 45px;
}
.comments__item:nth-child(2),
.comments__item:nth-child(3) {
  display: none;
}
.comments__item {
  margin-bottom: 40px;
}
.comments__item h3 {
  margin-bottom: 30px;
}
.main-about {
  overflow: hidden;
  padding: 55px 25px 0;
  background: #f2f2f2;
}
.text-item {
  margin-top: 45px;
}
.text-item:first-child {
  margin-top: 0;
}
.text-item h3 {
  margin-bottom: 25px;
}
.photo-item-1 {
  position: relative;
  bottom: -40px;
  display: block;
  margin: 0 auto;
}
.photo-item-2,
.photo-item-3 {
  display: none;
}
.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  top: 60px;
  margin-top: -60px;
  background: #283645;
}
.page-header__menu-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.logo {
  display: block;
  margin: 25px 0 28px 30px;
  border: none;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat;
  width: 75px;
  height: 22px;
}
.page-header__menu-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page-header__menu-items li {
  list-style: none;
}
.menu-item {
  font-family: 'opensansbold', sans-serif;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}
.main-apps {
  position: relative;
  width: 100%;
  min-height: 730px;
  padding: 175px 0 0;
  background: #1d2631 url('../img/bg-back-mobile@1x.jpg') repeat top center;
  background-size: cover;
}
.hand-with-mobile {
  position: relative;
  top: 6px;
  left: 0;
  display: block;
}
.main-apps__apps {
  display: block;
  margin: 0 auto;
  padding: 25px 20px 30px;
  background: #283645;
}
.page-header__apps h2 {
  font-family: 'opensanslight', sans-serif;
  font-size: 40px;
  display: none;
  color: #fff;
}
.apps {
  margin-bottom: 28px;
}
.apps li {
  display: inline;
  margin-right: 35px;
  vertical-align: top;
}
.apps li:last-child {
  margin-right: 0;
}
.main-apps__apps p {
  color: #fff;
}
@media (min-width: 700px) {
  .logo {
    display: block;
    margin: 25px 0 28px 30px;
    border: none;
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat;
    width: 150px;
    height: 40px;
  }
  .menu-item {
    font-family: 'opensansbold', sans-serif;
    font-size: 18px;
    line-height: 32px;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    height: 110px;
    top: 93px;
    margin: -93px;
  }
  .page-header__menu {
    width: 960px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-header__menu-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-preferred-size: 620px;
        flex-basis: 620px;
  }
  .menu-item {
    font-family: 'opensans', sans-serif;
  }
}
.main-header {
  padding: 50px 60px 70px;
}
.main-header h2:first-child {
  margin-bottom: 45px;
}
