//body

body{
  font-family: @font-family-regular;
  text-align: center;
  margin: 0 auto;
}

h2{
  font-family: @font-family-light;
  font-size: @font-size-h2;
  color:  @color-darkblue;
}

h3{
  font-family: @font-family-bold;
}

p{
  font-size: @font-size-p;
  color:  @color-darkblue;
  line-height: @line-height-label;
}

a{
  font-family: @font-family-bold;
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper{
  margin: 0 auto;
  padding: 0 10px;
}
