//body

body{
  font-family: @font-family-regular;
  text-align: center;
  margin: 0 auto;
}

h2{
  font-family: @font-family-light;
  font-size: @font-size-h2;
  color: @color-text;
  font-weight: lighter;
}

p{
  font-family: @font-family-regular;
  font-size: @font-size-p;
  color: @color-text;
  line-height: 24px;
}

a{
    text-decoration: none;
}

ul{
  padding: 0;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
