.btn {
  display: block;
  width: 100%;
  border: 3px solid @color-white;
  border-radius: 30px;
  background: none;
  padding: 20px;
  color: @color-white;
  text-align: center;
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  line-height: 18px;
  cursor: pointer;
  margin: 0 auto;
}

.btn-menu {
  background-image: url("../img/icon-menu-burger.svg") no-repeat;
  float: right;
  width: 24px;
  height: 12px;
}

.btn--download {
  margin: 0 auto 30px;
  outline: none;
}

.btn--download:hover {
  background: @color-white;
  color: @color-magenta;
  margin: 0 auto 30px;
  outline: none;
}

.btn--download:active {
  background: @color-white;
  color: rgba(240, 40, 86, 0.3);
  margin: 0 auto 30px;
  outline: none;
}

.btn--submit {
  width: 100%;
  border-radius: 10px;
  background: #2aab6d;
  color: @color-white;
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  padding: 20px;
  margin: 50px 0;
  outline: none;
}

.btn--submit:hover {
  background: #1c9b5e;
  outline: none;
  margin: 50px 0;
}

.btn--submit:active {
  background: #1c9b5e;
  color: rgba(255, 255, 255, 0.35);
  outline: none;
  margin: 50px 0;
}

.btn--submit:disabled {
  background: #e5e5e5;
  color: @color-white;
  outline: none;
  margin: 50px 0;
}

.btn--post {
  display: block;
  width: 100%;
  border: 3px solid @color-magenta;
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  color: #d22856;
  margin-bottom: 12px;
  outline: none;
}

.btn--post:hover {
  display: block;
  width: 100%;
  border: 3px solid @color-magenta;
  background: @color-magenta;
  color: @color-white;
  margin-bottom: 12px;
  outline: none;
}

.btn--post:active {
  display: block;
  width: 100%;
  border: 3px solid @color-magenta;
  background: @color-magenta;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 12px;
  outline: none;
}

@media (min-width: 700px) {
  .btn--download {
    width: 300px;
  }

  .btn--download:hover {
    width: 300px;
  }

  .btn--download:active {
    width: 300px;
  }

  .btn--submit {
    width: 300px;
    display: block;
    float: left;
    margin-top: 70px;
  }

  .btn--submit:hover {
    width: 300px;
    margin-top: 70px;
  }

  .btn--submit:active {
    width: 300px;
    margin: 70px 0 85px;
  }

  .btn--post{
    width: 260px;
    margin: 0 0 25px;
  }

  .btn--post:hover{
    width: 260px;
    margin: 0 0 25px;
  }

  .btn--post:active{
    width: 260px;
    margin: 0 0 25px;
  }

}

@media (min-width: 1200px) {
  .btn-menu {
    display: none;
  }

  .btn--post{
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }

  .btn--post:hover{
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }

  .btn--post:active{
    display: inline-block;
    width: 180px;
    margin: 85px 45px 0 0;
  }
}
