.btn {
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  line-height: 18px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  color: @color-white;
  border: 3px solid @color-white;
  border-radius: 30px;
  background: none;
}

.btn-menu {
  width: 24px;
  height: 12px;
  background-image: url('../img/icon-menu-burger.svg') repeat-y;
  margin: 25px 25px 25px 0;
}

.btn--download {
  margin: 0 auto 35px;
  outline: none;
}

.btn--download:hover {
  margin: 0 auto 35px;
  color: @color-magenta;
  outline: none;
  background: @color-white;
}

.btn--download:active {
  margin: 0 auto 35px;
  color: rgba(240, 40, 86, .3);
  outline: none;
  background: @color-white;
}

.btn--submit {
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  width: 100%;
  margin: 0 0 33px;
  padding: 23px;
  color: @color-white;
  border-radius: 7px;
  outline: none;
  background: #2aab6d;
}

.btn--submit:hover {
  background: #1c9b5e;
}

.btn--submit:active {
  color: rgba(255, 255, 255, .35);
  background: #1c9b5e;
}

.btn--submit:disabled {
  margin: 50px 0;
  color: @color-white;
  outline: none;
  background: #e5e5e5;
}

.btn--post {
  font-family: @font-family-bold;
  font-size: @font-size-btn;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: #d22856;
  border: 3px solid @color-magenta;
  outline: none;
}

.btn--post:hover {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: @color-white;
  border: 3px solid @color-magenta;
  outline: none;
  background: @color-magenta;
}

.btn--post:active {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, .3);
  border: 3px solid @color-magenta;
  outline: none;
  background: @color-magenta;
}
@media (min-width: 700px) {
  .btn--download {
    width: 300px;
    margin: 0 auto 45px;
  }

  .btn--download:hover {
    width: 300px;
    margin: 0 auto 45px;
  }

  .btn--download:active {
    width: 300px;
    margin: 0 auto 45px;
  }

  .btn--submit {
    width: 300px;
    margin: 60px 0 0;
  }

  .btn--submit:hover {
    width: 300px;
    margin: 60px 0 0;
  }

  .btn--submit:active {
    width: 300px;
    margin: 70px 0 0;
  }

  .btn--post {
    width: 100%;
    margin: 0 0 30px;
  }

  .btn--post:hover {
    width: 100%;
    margin: 0 0 30px;
  }

  .btn--post:active {
    width: 100%;
    margin: 0 0 30px;
  }
}
@media (min-width: 960px) {
  .btn--download {
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 70px;
  }

  .btn--download:hover {
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 70px;
  }

  .btn--download:hover {
    font-size: 21px;
    line-height: 18px;
    margin-bottom: 70px;
  }

  .btn-menu {
    display: none;
  }

  .btn--post {
    width: 180px;
    height: 56px;
    padding: 15px;
    margin: 0;
  }

  .btn--post:hover {
    width: 180px;
    height: 56px;
    padding: 15px;
    margin: 0;
  }

  .btn--post:active {
    width: 180px;
    height: 56px;
    padding: 15px;
    margin: 0;
  }
}
