.comments {
  position: relative;
  padding: 55px 0 45px;
}

.comments .wrapper{
  position: relative;
}

.comments__item:nth-child(2),
.comments__item:nth-child(3) {
  display: none;
}

.comments__item {
  margin-bottom: 40px;
}

.comments__item-header {
  margin-bottom: 30px;
}

.comments__item-header p{
  display: none;
}

@media (min-width: 700px) {
  .comments__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .comments__item p{
    display: flex;
    order: 1;
    padding: 0 70px;
  }

  .comments__item-header p{
    display: block;
  }

  .comments__item h3{
    display: flex;
    order: 2;
    font-size: 20px;
    line-height: 30px;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .comments__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .comments__item p{
    display: flex;
    order: 1;
    padding: 0 70px;
  }

  .comments__item-header p{
    display: block;
  }

  .comments__item h3{
    display: flex;
    order: 2;
    font-size: 20px;
    line-height: 30px;
    justify-content: center;
  }
}
