.comments {
  position: relative;
  padding: 55px 0 45px;
}

.comments__item:nth-child(2),
.comments__item:nth-child(3) {
  display: none;
}

.comments__item {
  margin-bottom: 40px;
}

.comments__item h3 {
  margin-bottom: 30px;
}
