.form{
  padding: 50px 20px 40px;
}

.form span{
  font-family: @font-family-regular;
  font-size: 14px;
  color: @color-link;
  line-height: 30px;
}

.page-tour{
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 45px;
}

fieldset{
  border: none;
  padding: 40px 20px;
}

legend{
  font-family: @font-family-regular;
  font-size: 14px;
  color: @color-link;
  line-height: 18px;
  text-transform: uppercase;
}

.form__achievements,
.form__app{
  background: #f2f2f2;
}

label{
  display: block;
  position: relative;
  font-family: @font-family-regular;
  font-size: @font-size-label;
  color: @color-link;
  line-height: @line-height-label;
  text-align: left;
}

.form__achievements label,
.form__app label{
  font-family: @font-family-regular;
  font-size:18px;
  color: #283645;
  line-height: 30px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea{
  font-family: @font-family-regular;
  padding: 20px 22px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e7e7e7;
}

input[type="checkbox"],
input[type="radio"]{
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 70px;
  margin-bottom: 45px;
}

input[type="checkbox"] + label::before{
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 0px;
}

input[type="radio"] + label::before{
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 0px;
  left: 0px;
}

input[type="checkbox"] + label::after{
  content: "";
  display: block;
  position: absolute;
  background: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 16px;
  top: 10px;
  left: 10px;
}

input[type="radio"] + label::after{
  content: "";
  display: block;
  position: absolute;
  background-color: #d22856;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 12px;
}

.form .btn--submit{
    width: 100%;
    border-radius: 10px;
    background: #2aab6d;
    color: #fff;
    padding: 20px 20px
}
