.form {
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  padding: 0 20px;
}

fieldset {
  width: 100%;;
  padding: 40px 0;
  border: none;
}

.form__comments {
  padding: 75px 0 0;
}

.form__achievements,
.form__app {
  margin: 0 -20px;
  padding: 110px 20px 40px;
  background: @color-gray;
}

.form-row {
  margin-bottom: 25px;
}

.form-row:last-child {
  margin-bottom: 0;
}

.form-column {
  margin-bottom: 43px;
}

.form-column:last-child {
  margin-bottom: 0;
}

legend {
  position: relative;
  top: -60px;
  padding: 0 20px;
  font-family: @font-family-regular;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  text-transform: uppercase;
  color: @color-magenta;
  background: @color-gray;
}

.form__tel-email legend {
  display: none;
}

.form__comments legend {
  top: -40px;
  background: @color-white;
}

label {
  font-family: @font-family-regular;
  font-size: @font-size-label;
  line-height: @line-height-label;
  position: relative;
  display: block;
  text-align: left;
  color: @color-magenta;
}

.form__contacts label,
.form__tel-email label {
  padding: 25px 0 15px 20px;
}

.form__contacts label:first-of-type,
.form__tel-email label:first-of-type {
  padding-top: 0;
}

.form__achievements label,
.form__app label {
  font-family: @font-family-regular;
  font-size: 18px;
  line-height: 30px;
  color: @color-darkblue;
}

input[type='email'],
input[type='tel'],
input[type='text'],
textarea {
  font-family: @font-family-regular;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: left;
  color: @color-darkblue;
  border: 2px solid #e7e7e7;
}

input[type='email']:hover,
input[type='tel']:hover,
input[type='text']:hover,
textarea:hover {
  border: 2px solid @color-darkblue;
  outline: none;
}

input[type='email']:active,
input[type='tel']:active,
input[type='text']:active,
textarea:active {
  border: 2px solid @color-magenta;
  outline: none;
}

input[type='email'],
input[type='tel'] {
  position: relative;
  display: block;
}


/* TEXTAREA */
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 201px;
  padding: 20px;
  color: @color-darkblue;
}

textarea:hover {
  border: 2px solid @color-darkblue;
}

textarea:active {
  border: 2px solid @color-darkblue;
}
/* CHECKBOX */
input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  position: relative;
  display: block;
  margin-bottom: 45px;
  padding-left: 70px;
  cursor: pointer;
}

input[type='checkbox'] + label:last-child,
input[type='radio'] + label:last-child {
  margin-bottom: 0;
}

input[type='checkbox'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  background-color: @color-white;
}

input[type='checkbox']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid @color-darkblue;
  outline: none;
  background-color: @color-white;
}

input[type='checkbox']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid @color-magenta;
  outline: none;
  background-color: @color-white;
}

input[type='checkbox']:active + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 7px;
  display: block;
  width: 22px;
  height: 16px;
  content: '';
  outline: none;
  background: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
}
/* RADIO */
input[type='radio'] + label::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: @color-white;
}

input[type='radio']:hover + label:hover::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid @color-darkblue;
  border-radius: 50%;
  outline: none;
  background-color: @color-white;
}

input[type='radio']:active + label:active::before {
  position: absolute;
  top: -4px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  content: '';
  border: 2px solid @color-magenta;
  border-radius: 50%;
  outline: none;
  background-color: @color-white;
}

input[type='radio']:checked + label::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: #d22856;
}

input[type='radio']:checked:hover + label:hover::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: @color-magenta;
}

input[type='radio']:checked:active + label:active::after {
  position: absolute;
  top: 6px;
  left: 10px;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  background-color: @color-magenta;
}

.form span {
  font-family: @font-family-regular;
  font-size: 14px;
  line-height: 30px;
  color: @color-magenta;
}

::-webkit-input-placeholder {
  color: #283645;
}

::-moz-placeholder {
  color: #283645;
}

:-moz-placeholder {
  color: #283645;
}

:-ms-input-placeholder {
  color: #283645;
}




@media (min-width: 700px) {
  .form-header {
    font-size: 18px;
    line-height: 30px;
    padding: 100px;
  }

  .form {
    padding: 0;
  }

  fieldset {
    padding: 50px 60px;
    border: 2px solid #e5e5e5;
  }

  .form__contacts {
    display: flex;
    flex-direction: row;
    order: 1;
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
    border: none;
  }

  .form__contacts .form-row{
    flex-direction: column;
  }

  .form__app {
    display: flex;
    background: @color-white;
    order: 2;
    margin-bottom: 60px;
    padding: 50px 60px;
  }

  .form__tel-email {
    display: flex;
    order: 3;
    margin-bottom: 60px;
    width: 100%;
  }

  .form__achievements {
    display: flex;
    background: @color-white;
    order: 4;
    width: 100%;
    margin-bottom: 60px;
    padding: 50px 60px;
  }

  .form__comments {
    display: flex;
    order: 5;
    width: 100%;
    padding: 50px 60px;
  }

  .form__button {
    display: flex;
    justify-content: space-between;
    order: 6;
  }

  .form__contacts label {
    margin-right: 20px;
    padding: 0;
  }

  legend {
    position: relative;
    top: 0;
    background: #fff;
  }

  .form__comments legend {
    top: 0;
    background: @color-white;
  }

  .form__tel-email legend {
    display: inline-block;
    background: #fff;
  }

  .required-line {
    display: block;
    margin-top: 90px;
    text-transform: uppercase;
  }

  .label-tel:before,
  .label-email:before   {
    content: '';
    display: block;
    position: absolute;
    top: 41px;
    right: 2px;
    width: 64px;
    height: 64px;
    background-color: @color-gray;
    z-index: 1;
  }

}


//  @media (min-width: 1200px) {
//    .form {
//      flex-wrap: wrap;
//      flex-direction: row;
//      justify-content: space-between;
//      align-items: flex-start;
//    }
//
//    .form__contacts {
//      display: flex;
//      position: relative;
//      top: 15px;
//      width: 45%;
//      order: 1;
//      margin: 0;
//      border: none;
//    }
//
//    .form__app {
//      display: flex;
//      width:  45%;
//      order: 2;
//      background: @color-white;
//      padding: 50px 60px;
//    }
//
//    .form__tel-email {
//      display: flex;
//      flex-direction: row;
//      flex-wrap: wrap;
//      width: 100%;
//      order: 3;
//      margin: 0 0 60px;
//    }
//
//    .form__tel-email .form-row{
//      width: 40%;
//      margin: 0;
//    }
//
//    .form__achievements {
//      display: flex;
//      flex-wrap: wrap;
//      flex-direction: row;
//      background: @color-white;
//      order: 4;
//      margin: 0 0 60px;
//      padding: 50px 60px;
//    }
//
//    .form__achievements .column{
//      width: 30%;
//      flex-wrap: wrap;
// }
//
//    .form__comments {
//      display: flex;
//      order: 5;
//      margin: 0;
//      padding-bottom: 50px;
//    }
//
//    .form__button {
//      display: flex;
//      justify-content: space-between;
//      order: 6;
//    }
//
// }
