.form{
  padding: 50px 0 40px;
}

.form span{
  font-family: @font-family;
  font-size: 14px;
  color: @color-link;
  line-height: 30px;
}

.page-tour{
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 45px;
}

fieldset{
  border: none;
  padding: 40px 20px;
}

legend{
  font-family: @font-family;
  font-size: 14px;
  color: @color-link;
  line-height: 18px;
  text-transform: uppercase;
}

.form__achievements,
.form__app{
  background: #f2f2f2;
}

label{
  font-family: @font-family;
  font-size: @font-size-label;
  color: @color-link;
  line-height: @line-height-label;
}

.form__achievements label,
.form__app label{
  font-family: @font-family;
  font-size:18px;
  color: #283645;
  line-height: 30px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea{
  font-family: @font-family;
  padding: 20px 22px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e7e7e7;
}
