@media (min-width: 700px){
  .main-24-hours{
    display: block;
    padding: 60px 40px;
    overflow: hidden;
    text-align: left;
  }

  .main-24-hours .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-24-hours-photo {
    background: url("http://placehold.it/240x270") no-repeat;
    display: flex;
    width: 240px;
    height: 275px;
    order: 1;
  }

  .main-24-hours-text {
    display: flex;
    flex-direction: column;
    order: 2;
    padding-top: 65px;
    width: 310px;
  }

  .main-24-hours a{
    display: block;
    font-family: @font-family-light;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    color: @color-magenta;
    margin-top: 15px;
  }
}
