.main-about{
  background: @color-bg;
  padding: 55px 25px 0;
}

h2{
  font-family: @font-family-light;
  line-height: 24px;
  color: #000;
}

p{
  font-size: 14px;
  line-height: 24px;
}

ul{
  margin: 0;
  padding: 0;
}

.wrapper{
  margin: 0 auto;
  padding: 0 20px;
}
