.main-apps {
  position: relative;
  width: 100%;
  height: 462px;
  padding: 175px 0 0;
  background: #1d2631 url('../img/bg-back-mobile@1x.jpg') repeat top center;
  background-size: cover;
}

.hand-with-mobile {
  display: block;
  margin: 0 auto;
}

.main-apps__apps {
  display: block;
  margin: 0 -20px;
  padding: 25px 20px 30px;
  background: @color-darkblue;
}

.page-header__apps h2 {
  font-family: @font-family-light;
  font-size: 40px;
  display: none;
  color: @color-white;
}

.apps {
  margin-bottom: 28px;
}

.apps li {
  display: inline;
  margin-right: 35px;
  vertical-align: top;
}

.apps li:last-child {
  margin-right: 0;
}

.main-apps__apps p {
  color: @color-white;
  padding: 0 40px;
}

@media (min-width: 700px) {
  .main-apps {
    position: relative;
    height: 680px;
  }

  .hand-with-mobile {
    display: block;
    position: relative;
    width: 445px;
    top: 10px;
    height: 495px;
    float: right;
    margin-right: 45px;
  }

  .main-apps__apps {
    width: 310px;
    position: absolute;
    padding: 0;
    top: 210px;
    left: 82px;
    background: none;
  }

  .main-apps__apps p {
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .main-apps__apps h2 {
    color: white;
    font-size: 40px;
    padding: 0 40px;
    font-family: @font-family-light;
    margin-bottom: 35px;
  }
}
@media (min-width: 960px) {
  .wrapper {
    position: relative;
  }

  .main-apps {
    min-width: 300px;
    min-height: 800px;
  }

  .main-apps__apps {
    left: 30px;
    top: 45px;
    padding: 0;
    width: 310px;
  }

  .main-apps__apps h2 {
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 60px;
  }

  .apps {
    margin-bottom: 55px;
  }

  .hand-with-mobile {
    width: 530px;
    top: 35px;
    height: 590px;
    margin: 0;
  }

}
