.main-about {
  overflow: hidden;
  position: relative;
  padding: 80px 0 0;
  background: @color-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-about__item {
  display: flex;
  flex-direction: column-reverse;
}

.main-about__item-photo{
  width: 157px;
  height: 277px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  bottom: 0;
}

.photo-item {
  display: block;
  width: 100%;
  height: auto;
}

.item-photo-1,
.item-photo-2{
  display: none;
}

.main-about__item-text {
  margin-bottom: 35px;
}

.main-about h3 {
  margin: 0 0 13px;
}

@media (min-width: 700px){
  .main-about .wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    text-align: left;
  }

  .main-about__item {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
  }

  .main-about__item-photo{
    width: 267px;
    height: 482px;
    position: absolute;
    top: -80px;
    left: 0;
  }

  .main-about__item-text{
    width: 310px;
  }

  .item-photo-1{
    display: block;
  }

  .item-photo-2,
  .item-photo-3{
    display: none;
  }
}

@media (min-width: 960px){
  .main-about .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
  }

  .main-about__item {
    flex-direction: column;
    position: relative;
  }

  .main-about__item-photo{
    width: 186px;
    height: 302px;
    position: static;
  }

  .main-about__item-text{
    width: 245px;
  }

  .item-photo-1,
  .item-photo-2,
  .item-photo-3{
    display: block;
  }
}
