.main-apps {
  position: relative;
  min-height: 465px;
  padding: 175px 0 550px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-mobile@2x.jpg");
  }
  @media (min-width: 700px) {
    background: url("../img/bg-back-tablet@1x.jpg");
  }
  @media (min-width: 700px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-tablet@2x.jpg");
  }
  @media (min-width: 960px) {
    background: url("../img/bg-back-desktop@1x.jpg");
  }
  @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-desktop@2x.jpg");
  }
}

.main-apps .wrapper{
  position: relative;
}

.hand-with-mobile {
  position: absolute;
  bottom: 250px;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.main-apps__apps {
  width: 100%;
  height: 260px;
  padding: 28px 20px 30px;
  background: @color-darkblue;
}

.main-apps__apps h2 {
  display: none;
}

.apps {
  display: flex;
  flex-direction: row;
  margin: 0 auto 15px;
  justify-content: space-around;
  padding: 0 20px;
  align-items: center;
  max-width: 350px;
}

.apps li {
  list-style: none;
}

.main-apps__apps p {
  color: @color-white;
  padding: 0 20px;
}
@media (min-width: 700px) {
  .main-apps {
    position: relative;
    height: 680px;
  }

  .apps {
    padding: 0 30px;
    margin-bottom: 35px;
  }

  .hand-with-mobile {
    position: absolute;
        top: 90px;
    width: 100%;
    height: auto;
  }

  .main-apps__apps {
    width: 310px;
    position: absolute;
    padding: 0;
    top: 155px;
    left: 55px;
    background: none;
  }

  .main-apps__apps p {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .main-apps h2 {
    display: block;
    color: white;
    font-size: 40px;
    padding: 0 40px;
    font-family: @font-family-light;
    margin-bottom: 35px;
  }
}
@media (min-width: 960px) {
  .main-apps {
    min-height: 855px;
  }

  .main-apps__apps {
    left: 23px;
    top: 220px;
    padding: 0;
    width: 320px;
  }

  .main-apps__apps h2 {
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 62px;
  }

  .apps {
    padding: 0 60px;
    margin-bottom: 55px;
  }
}
