.page-footer-inner{
  padding: 40px 0;
}

.page-footer__social{
  margin-top: 40px;
}

.page-footer__social li{
  display: inline;
  vertical-align: middle;
}

.page-footer__twitter{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin-right: 13px;
  background: url("../img/icon-twitter.svg") no-repeat;
  background-position: center;
}

.page-footer__facebook{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin-right: 13px;
  background: url("../img/icon-facebook.svg") no-repeat;
  background-position: center;
}

.page-footer__youtube{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url("../img/icon-youtube.svg") no-repeat;
  background-position: center;
}

.page-footer__copyright a{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.page-footer__copyright img{
  display: inline-block;
  vertical-align: middle;
}
