.page-footer-inner {
  width: 100%;
  padding: 40px 0;
}

.page-footer__social {
  margin: 40px 0;
}

.page-footer__social li {
  display: inline;
  vertical-align: middle;
}

.page-footer__twitter {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-twitter.svg') no-repeat;
  background-position: center;
}

.page-footer__facebook {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-facebook.svg') no-repeat;
  background-position: center;
}

.page-footer__youtube {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  background: url('../img/icon-youtube.svg') no-repeat;
  background-position: center;
}

.page-footer__copyright a {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  color: @color-darkblue;
}

.page-footer__copyright img {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 700px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .page-footer__inner-logo {
    margin-right: 70px;
  }

  .page-footer-inner .wrapper {
    display: flex;
    padding: 85px 40px 35px;
    justify-content: space-between;
  }

  .page-footer__social {
    position: relative;
    margin: 0 90px 0 0;
  }
}
@media (min-width: 1200px) {}
