.page-hero {
  height: 230px;
  padding: 90px 10px 85px;
  background: url('../img/bg-back-mobile@1x.jpg');
}

.page-hero h2 {
  color: @color-white;
}
@media (min-width: 700px) {
  .page-hero {
    height: 100px;
    padding: 130px 0 260px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }

  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: @color-white;
  }
}
@media (min-width: 960px) {
  .page-hero {
    height: 100px;
    padding: 180px 110px 215px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }

  .page-hero h2 {
    font-size: 50px;
    padding: 0 170px;
    color: @color-white;
  }
}
