.page-header{
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  padding: 0 20px 35px;
}

.page-header__apps li{
  display: inline;
  margin-right: 35px;
}

.page-header__apps li:last-child{
  margin-right: 0;
}

.page-header p{
  font-weight: lighter;
  line-height: 24px;
  color: #fff;
}
