.page-footer {
  padding: 50px 50px 0;
  background-color: #fff;
}

.page-footer__contacts h2 {
  font-weight: normal;
  font-size: @font-size-h2;
  color: @color-text;
}

.page-footer__contacts p {
  font-weight: bold;
  font-size: @font-size-p;
  color: @color-text;
}

.page-footer__contacts a,
.page-footer__contacts address {
  font-weight: normal;
  font-style: normal;
  font-size: @font-size-h2;
  color: @color-link;
  text-decoration: none;
}

.page-footer__map {
  height: 200px;
  background: url("../img/bg-map-mobile@1x.png") center bottom no-repeat;
}
