.page-header {
  padding: 0 20px 35px;
  background: #1d2631;
}

.page-header p {
  font-weight: lighter;
  line-height: 24px;
  color: #fff;
}

.page-header__nav{
  padding: 20px 0;
  background: #283645;
}

.page-header__logo {
  display: block;
  float: left;
}

.btn-menu {
  background-image: url("../img/icon-menu-burger.svg") no-repeat;
  float: right;
  width: 24px;
  height: 12px;
}

.page-header__menu{
  background: #283645;
}

.page-header__menu li{
  list-style: none;
}

.page-header__menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 0;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.page-header__photo {
  position: relative;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  height: 460px;
}

.page-header__photo img {
  display: block;
  position: absolute;
  bottom: 0;
}

.btn-download {
  margin-bottom: 20px;
}

.page-header__apps {
  padding: 25px 0 35px;
}

.page-header__apps li {
  display: inline;
  vertical-align: top;
  margin-right: 35px;
}

.page-header__apps li:last-child {
  margin-right: 0;
}
