.page-header {
  background: @color-darkblue;
}

.page-header__menu-nav {
  background: @color-darkblue;
}

.page-header__menu-nav {
  padding: 20px;
}

.logo {
  display: block;
  float: left;
  border: none;
}

.page-header__menu-items li {
  list-style: none;
}

.menu-item {
  font-family: @font-family-bold;
  display: block;
  padding: 25px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-white;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}

.main-apps {
  position: relative;
  width: 100%;
  min-height: 730px;
  padding: 175px 0 0;
  background: #1d2631 url('../img/bg-back-mobile@1x.jpg') repeat top center;
  background-size: cover;
}

.hand-with-mobile {
  position: relative;
  top: 6;
  left: 0;
  display: block;
}

.main-apps__apps {
  display: block;
  margin: 0 auto;
  padding: 25px 20px 30px;
  background: @color-darkblue;
}

.page-header__apps h2 {
  font-family: @font-family-light;
  font-size: 40px;
  display: none;
  color: @color-white;
}

.apps {
  margin-bottom: 28px;
}

.apps li {
  display: inline;
  margin-right: 35px;
  vertical-align: top;
}

.apps li:last-child {
  margin-right: 0;
}

.main-apps__apps p {
  color: @color-white;
}
// @media (min-width: 1200px) {
//   .page-header {
//     width: 100%;
//     position: absolute;
//     top: 0px;
//     background: none;
//     background-color: rgba(0, 0, 0, 0.3);
//   }
//
//   .page-header__menu{
//     width: auto;
//     height: 55px;
//     padding: 25px 0 40px;
//     background: none;
//   }
//
//   .page-header__nav{
//     display: block;
//     float: left;
//     margin-right: 170px;
//   }
//
//   .menu-items{
//     display: block;
//     float: right;
//   }
//
//   .menu-items li,
//   .menu-item{
//     display: inline-block;
//     margin-right: 80px;
//     border: none;
//   }
//
//   .menu-items li:last-child,
//   .menu-item:last-child{
//     margin-right: 0px;
//   }
// }
