.page-footer {
  padding: 0 0 20px;
}

.page-footer__contacts {
  padding: 15px 0 40px;
  background: @color-white;
}

.page-footer h2 {
  padding: 0 20px;
  line-height: 30px;
}

.page-footer__contacts p {
  font-family: @font-family-bold;
  font-size: 18px;
  margin: 23px 0 0;
  color: @color-darkblue;
}

.page-footer__contacts a,
.page-footer__contacts address {
  font-family: @font-family-light;
  font-size: @font-size-h2;
  font-style: normal;
  text-decoration: none;
  color: @color-magenta;
}

.page-footer__contacts address {
  line-height: 30px;
}

.page-footer__map {
  position: relative;
}

.page-footer__map::before {
  display: block;
  content: "";
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.logo-footer-effect {
  display: none;
}

.footer-logo:hover .logo-footer-glasses,
.footer-logo:hover .logo-footer-word {
  fill: @color-magenta;
}

.footer-logo:active .logo-footer-word {
  fill: @color-darkblue;
  opacity: 0.3;

  .footer-logo:active .logo-footer-glasses {
    opacity: 0.3;
  }
}
/* page-footer__SOCICAL */
.page-footer__social {
  padding: 10px 0;
}

.footer-social {
  margin: 40px 0;
}

.footer-social li {
  display: inline;
  vertical-align: middle;
}

.footer-social__facebook,
.footer-social__twitter,
.footer-social__youtube {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.footer-social__twitter {
  fill: @color-magenta;
  padding: 11px 0 0;
}

.footer-social__facebook {
  fill: @color-magenta;
  padding: 9px 0 0;
}

.footer-social__youtube {
  fill: @color-magenta;
  padding: 12px;
}

.footer-social__facebook:hover,
.footer-social__twitter:hover,
.footer-social__youtube:hover {
  border: 3px solid @color-darkblue;
  fill: @color-magenta;
}

.footer-social__facebook:active,
.footer-social__twitter:active,
.footer-social__youtube:active {
  border: 3px solid #e9ebec;
  fill: rgba(210, 40, 86, 0.3);
  opacity: 0.3;
}

.footer-copyright {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  fill: @color-magenta;
  color: @color-darkblue;
}

.footer-copyright:hover {
  fill: @color-darkblue;
}

.footer-copyright:active {
  fill: rgba(40,54,69, 0.3);
}


.page-footer__social-disabled {
  display: none;
}
@media (min-width: 700px) {
  .form {
    margin: 0;
  }

  .form_app {
    padding: 45px 60px 20px;
  }

  .page-footer {
    padding: 45px 0 0;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 50px;
  }

  .page-footer__contacts p {
    line-height: 30px;
  }

  .page-footer h2 {
    font-size: 40px;
    line-height: 42px;
    margin: 0 60px;
    padding: 0 50px;
  }

  .call,
  .write-us {
    width: 50%;
    margin-bottom: 35px;
  }

  .write-us a:hover {
    color: @color-darkblue;
  }

  .write-us a:active {
    color: #ced0d2;
  }

  .adress {
    width: 100%;
    padding: 0 200px;
  }

  .page-footer__social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .footer-logo {
    position: relative;
    top: -5px;
  }

  .footer-social {
    position: relative;
    left: -20px;
  }

  .logo-htmlacademy {
    width: 27px;
    height: 34px;
  }
}
@media (min-width: 960px) {
  .page-footer {
    padding: 65px 0 0;
  }

  .page-footer__contacts {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 55px 0 10px;
    margin: 0 -20px;
  }

  .page-footer h2 {
    font-size: 50px;
    line-height: 58px;
    padding: 0 120px;
  }

  .call {
    order: 1;
    width: 30%;
  }

  .adress {
    order: 2;
    width: 30%;
    padding: 0;
  }

  .write-us {
    order: 3;
    width: 30%;
  }

  .adress p,
  .call p,
  .write-us p {
    display: block;
    margin: 0 0 20px;
  }

  .page-footer__social {
    padding: 35px 0 0;
  }

  .footer-logo {
    position: relative;
    top: -5px;
    left: -20px;
  }

  .footer-copyright a {
    font-size: 18px;
  }

  .logo-footer-effect {
    display: block;
    fill: @color-darkblue;
  }

  .logo-footer-effect:last-of-type {
    fill: @color-magenta;
  }

  .footer-logo:active .logo-footer-word {
    fill: @color-darkblue;
    opacity: 0.3;

    .footer-logo:active .logo-footer-glasses {
      opacity: 0.3;
    }
  }
}
