.page-tour {
  height: 240px;
  background: url("../img/bg-back-mobile@1x.jpg");
  padding: 90px 20px 60px;
}

.page-tour h2 {
  color: @color-white;
  margin: 0;
}

@media (min-width: 700px) {

  .page-tour {
    min-height: 440px;
    background: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    padding: 150px 50px 85px;
  }

  .page-tour h2 {
    font-family: @font-family-light;
    font-size: 50px;
    line-height: normal;
  }
}

// @media (min-width: 1200px) {
//   .page-tour {
//     height: 100px;
//     background: url("../img/bg-back-mobile@1x.jpg");
//     background-size: cover;
//     padding: 200px 100px 100px;
//   }
// }
