.page-tour {
  height: 230px;
  padding: 90px 0 60px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-mobile@2x.jpg 2x");
  }
  @media (min-width: 700px) {
    background: url("../img/bg-back-tablet@1x.jpg 1x");
  }
  @media (min-width: 700px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-tablet@2x.jpg 2x");
  }
  @media (min-width: 960px) {
    background: url("../img/bg-back-desktop@1x.jpg 1x");
  }
  @media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 700px) and (min-resolution: 1.5dppx) {
    background: url("../img/bg-back-desktop@2x.jpg 2x");
  }
}

.page-tour h2 {
  line-height: 30px;
  margin: 0;
  color: @color-white;
}
@media (min-width: 700px) {
  .page-tour {
    min-height: 390px;
    padding: 128px 50px 85px;
    background: url('../img/bg-back-mobile@1x.jpg');
    background-size: cover;
  }

  .page-tour h2 {
    font-family: @font-family-light;
    font-size: 50px;
    line-height: 60px;
  }
}
@media (min-width: 960px) {
  .page-tour {
    height: 395px;
    background: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    padding: 175px 100px 110px;
  }

  .page-tour h2 {
    font-family: @font-family-light;
    margin: 0;
    color: @color-white;
  }
}
