.photopost{
  padding: 20px;
  background: #f2f2f2;
}

.photopost button{
  background: none;
  border: none;
}

.photopost-btn-range{
  margin-bottom: 30px;
}

.photopost__crop,
.photopost__fill,
.photopost__contrast{
  display: inline-block;
  vertical-align: middle;
  background: none;
  margin-bottom: 40px;
}

.photopost__range:nth-child(2),
.photopost__range:nth-child(3){
  display: none;
}

.photopost__main-image{
  margin-bottom: 40px;
}

.photopost-btn-submit button,
.photopost-btn-submit input[type="reset"]{
  display: block;
  margin: 0 auto;
}

.photopost-btn-submit .btn-post{
  border: 3px solid #d22856;
  color: #d22856;
  margin-bottom: 12px;
}

.photopost-btn-submit input[type="reset"]{
  border: 3px solid #dddfe0;
  color: #dddfe0;
}
