.photopost{
  padding: 20px;
  background: #f2f2f2;
}

.photopost button{
  background: none;
  border: none;
}

.photopost-btn-range{
  margin-bottom: 30px;
}

.photopost__crop,
.photopost__fill,
.photopost__contrast{
  display: inline-block;
  vertical-align: middle;
  background: none;
  margin-bottom: 40px;
}

.photopost__range:nth-child(2),
.photopost__range:nth-child(3){
  display: none;
}

.photopost__main-image{
  margin-bottom: 40px;
}

.photopost-btn-submit{
  padding: 0 20px;
}

.photopost-btn-submit button,
.photopost-btn-submit input[type="reset"]{
  display: block;
  margin: 0 auto;
}

.photopost-btn-submit .btn-post{
  width: 100%;
  border: 3px solid @color-magenta;
  color: #d22856;
  margin-bottom: 12px;
  outline: none;
}

.photopost-btn-submit .btn-post:hover{
  width: 100%;
  border: 3px solid @color-magenta;
  background: @color-magenta;
  color: @color-white;
  margin-bottom: 12px;
  outline: none;
}

.photopost-btn-submit .btn-post:active{
  width: 100%;
  border: 3px solid @color-magenta;
  background: @color-magenta;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 12px;
  outline: none;
}

.photopost-btn-submit input[type="reset"]{
  width: 100%;
  border: 3px solid #dddfe0;
  color: #dddfe0;
  outline: none;
}

.photopost-btn-submit input[type="reset"]:hover{
  width: 100%;
  border: 3px solid #b5b9be;
  color: #dddfe0;
  outline: none;
}

.photopost-btn-submit input[type="reset"]:active{
  width: 100%;
  border: 3px solid #b5b9be;
  background: #b5b9be;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
