.post{
  background: @color-white;
}

.post-header,
.post-footer{
  font-size: @font-size-p;
  line-height: 30px;
  padding: 50px 0
}

.post__item{
  margin: 0 auto 20px;
  padding-bottom: 20px;
  text-align: left;
  background: @color-bg;
}

.post__item--panorama{
  display: block;
  position: relative;
}

.post__item--panorama img{
  display: block;
  position: relative;
  left: -20px;
}

.header-panorama{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 20px;
  background: @color-magenta;
  color: @color-white;
  width: 140px;
  z-index: 2;
}

.post__author{
  font-family: @font-family-bold;
}

.post__item p{
  text-align: left;
}

.post__author span{
  font-family: @font-family-light;
  line-height: 24px;
}

.like {
  display: block;
  position: relative;
  font-size: 12px;
  color: @color-magenta;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px 0 50px;
}

.like::before{
  display: block;
  position: absolute;
  content: "";
  background: url("../img/icon-heart.svg");
  width: 13px;
  height: 12px;
  top: 0;
  left: 20px;
}

@media {min-width: 700}{
  .post-header{
    font-size: 18px;
    line-height: 30px;
  }
}
