.post {
  background: @color-white;
  margin: 0 auto;
  font-size: 0;
}

.post-footer,
.post-header {
  font-size: @font-size-p;
  line-height: 30px;
  padding: 50px 40px 60px;
}

.post__item {
  margin: 0 auto 20px;
  padding-bottom: 20px;
  text-align: left;
  background: @color-bg;
}

.post__item--panorama{
  position: relative;
}

.header-panorama-photo{
  width: 100%;
  height: 137px;
  overflow: hidden;
}

.header-panorama {
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
  padding: 13px 20px;
  background: @color-magenta;
  color: @color-white;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  width: 140px;
  z-index: 2;
}

.post__item-photo{
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.post__author{
  padding: 20px 20px 0;
  margin: 0;
}

.post__content{
  padding: 0 20px 20px;
  margin: 0;
}

.post__author span {
  font-family: @font-family-light;
  line-height: 24px;
}

.like {
  display: block;
  position: relative;
  font-size: 12px;
  color: @color-magenta;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 50px;
}

.like::before {
  display: block;
  position: absolute;
  content: "";
  background: url("../img/icon-heart.svg");
  width: 13px;
  height: 12px;
  top: 0;
  left: 20px;
}


 @media (min-width: 700px) {
   .post-header,
   .post-footer {
     font-size: 18px;
     line-height: 30px;
   }

   .header-panorama {
     top: 40px;
   }

   .post__item {
     display: inline-block;
     vertical-align: top;
     width: 40%;
     margin: 0 20px 20px 0;
     height: 455px;
   }

   .post__item img {
     display: block;
     width: 100%;
     height: 300px;
   }

   .post__item--panorama {
     display: block;
     width: 100%;
     height: 630px;
   }

   .post__item--panorama img {
     height: 510px;
   }

   .header-panorama-photo {
     display: block;
     width: 100%;
     height: 510px;
     background-size: cover;
   }

   .post-footer {
     display: block;
     width: 100%;
     margin-top: 20px;
   }
 }

 @media (min-width: 1200px) {

   .post__item {
     display: inline-block;
     vertical-align: top;
     width: 30%;
     margin: 0 20px 20px 0;
     height: 455px;
   }

   .post__item img {
     display: block;
     width: 100%;
     height: 300px;
   }

   .post__item--panorama {
     display: block;
     width: 100%;
     height: 630px;
   }

   .post__item--panorama img {
     height: 510px;
   }

   .header-panorama-photo {
     display: block;
     width: 100%;
     height: 510px;
     background-size: cover;
   }

   .post-footer {
     display: block;
     width: 100%;
     margin-top: 20px;
   }
 }
