.service {
  overflow: hidden;
  padding: 93px 0 55px;
  margin: 0;
  background: @color-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

table {
  width: 940px;
  border-collapse: collapse;
  position: relative;
  left: 50%;
  transform: translateX(-62.5%);
  margin-bottom: 30px;
}

td,
th {
  border-collapse: collapse;
  border: 3px solid #e5e5e5;
}

th {
  font-family: @font-family-bold;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 0;
  text-transform: uppercase;
  color: @color-white;
  background: @color-darkblue;
  border-top: 3px solid @color-darkblue;
  border-left: 3px solid @color-darkblue;
}

th:not(:first-child) {
  border-bottom: 3px solid @color-darkblue;
}

th:last-child {
  border-right: 3px solid @color-darkblue;
}

th span {
  font-family: @font-family-light;
  font-size: 24px;
  line-height: 30px;
}

.service .empty {
  border-top: none;
  border-left: none;
  background: @color-gray;
}

td {
  min-width: 280px;
  padding: 17px 17px 17px 21px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @color-darkblue;
  background: @color-white;
}

.service-header {
  display: block;
  float: left;
}

.service-element-no,
.service-element-ok {
  display: block;
  float: right;
}

.hit {
  position: relative;
}

.hit::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 72px;
  height: 72px;
  content: '';
  color: @color-white;
  background: url('../img/bg-hit.svg') no-repeat;
}

.hit::after {
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  content: 'ХИТ';
  font-size: 14px;
  line-height: 30px;
  transform: rotate(-45deg);
  color: @color-white;
}
@media (min-width: 700px) {
  .service {
    overflow: hidden;
    min-height: 378px;
    padding: 92px 33px 0;
    background: @color-gray;
    background-image: url("../img/bg-triangle-white.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }

  table {
    position: static;
    width: 100%;
    transform: none;
    left: auto;
  }

  th {
    font-size: 16px;
    line-height: 30px;
    padding: 5px 0 6px;
  }

  th span {
    font-size: 18px;
  }

  td {
    min-width: 155px;
    padding: 10px 15px;
    text-transform: none;
  }

  .service-element-no,
  .service-element-ok {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .service-item-text {
    display: none;
  }

  .slider-navigation-table {
    display: none;
  }

  .hit::before {
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  .hit::after {
    top: 3px;
    left: 3px;
  }
}



@media (min-width: 960px) {
  .service {
    min-height: 525px;
    padding: 150px 60px 100px;
  }

  th {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 0 15px;
  }

  th span {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin-top: 7px;
  }

  td {
    padding: 20px 28px 17px;
    width: 150px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }

  .service-element-no,
  .service-element-ok {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .service-item-text {
    display: none;
  }

  .slider-navigation-table {
    display: none;
  }
}
