.service {
  overflow: hidden;
  padding: 65px 0 50px;
  background: @color-gray;
}

table {
  position: relative;
  left: -520px;
  margin-bottom: 40px;
  border-collapse: collapse;
}

td,
th {
  border-collapse: collapse;
  border: 3px solid #e5e5e5;
}

.service .empty {
  border-top: none;
  border-left: none;
  background: @color-gray;
}

th {
  font-family: @font-family-bold;
  font-size: 18px;
  line-height: 30px;
  min-width: 280px;
  padding: 25px 0;
  text-transform: uppercase;
  color: @color-white;
  background: @color-darkblue;
}

th span {
  font-family: @font-family-light;
  font-size: 24px;
  line-height: 30px;
}

td {
  padding: 25px 23px;
  text-align: left;
  text-transform: uppercase;
  color: @color-darkblue;
  background: @color-white;
}

.service-header {
  display: block;
  float: left;
}

.service-element-no,
.service-element-ok {
  display: block;
  float: right;
}

.hit {
  position: relative;
}

.hit::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 72px;
  height: 72px;
  content: '';
  color: @color-white;
  background: url('../img/bg-hit.svg') no-repeat;
}

.hit::after {
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  content: 'ХИТ';
  transform: rotate(-45deg);
  color: @color-white;
}
