.slider-navigation li{
  display: inline;
}

.slider-navigation__control{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #b5b9be;
  margin-right: 15px;
}

.slider-navigation__control--active{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  border-radius: 50%;
  background: #fff;
  margin-right: 15px;
}
