.slider-navigation li{
  display: inline;
}

.slider-navigation__control{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bec2c7;
  margin-right: 15px;
}

.slider-navigation__control:hover{
  background: #7e868f;
}

.slider-navigation__control:active{
  background: #e9ebec;
}

.slider-navigation__control--active{
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background: @color-white;
  border: 3px solid @color-darkblue;
  border-radius: 50%;
  background: #b5b9be;
  margin-right: 15px;
}
