//color
@color-darkblue: #283645;
@color-magenta: #d22856;
@color-green: #2aab6d;
@color-white: #ffffff;
@color-bg: #f2f2f2;

//text
@font-family-bold: "Open Sans Bold", sans-serif;
@font-family-light: "Open Sans Light", sans-serif;
@font-family-regular: "Open Sans Regular", sans-serif;
@font-size-h2: 24px;
@font-size-p: 14px;
@font-size-btn: 18px;
@font-size-label: 14px;
@line-height-label: 24px;
