//color
@color-text: #283645;
@color-link: #d22856;
@color-bg: #f2f2f2;

//text
@font-family: 'Open Sans', sans-serif;
@font-size-h2: 24px;
@font-size-p: 18px;
@font-size-btn: 18px;
@font-size-label: 14px;
@line-height-label: 30px;


//body
body{
  font-family: @font-family;
  text-align: center;
  margin: 0 auto;
}

h2{
  font-family: @font-family;
  font-size: @font-size-h2;
  color: @color-text;
  font-weight: lighter;
}

p{
  font-family: @font-family;
  font-size: @font-size-p;
  color: @color-text;
  line-height: 24px;
}

a{
    text-decoration: none;
}

ul{
  padding: 0;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
